<h1>You will have to love <%= thingVar %>.</h1>

<% if(thingVar === "cat"){ %>
	<h2>You are awesome! You are a cat person</h2>
}
<% }else{ %>
	<h2>You should get a cat instead</h2>
<% } %>

<p>This message is brought to you by the home.ejs file</p>